body {
    padding: 10px;
}
.gwt-DialogBox .Caption {
    background: #F1F1F1;
    padding: 4px 8px 4px 4px;
    cursor: default;
    font-family: Arial Unicode MS, Arial, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #bbbbbb;
}
.kek{
    height:400px;
    width:400px;
}
.panel1 {
    margin-top: auto;
}
.but{
    background: deeppink;
}
.tab {
    padding: 3px;
    background: #cccc;
    text-align: center;
    border: 1px solid silver;
    width: 100%;
}
.knopka{
    width: 5%;
    background: black;
}
.knopka1{
    width: 2%;
    background: darkolivegreen;
}
.date{
    background: greenyellow;
    margin-left: 10%;
}
.watchList {
    border: 1px solid silver;
    padding: 2px;
    margin-bottom:6px;
}
.watchListRemoveColumn {
    text-align: center;
    background:blue;
}
.watchListNumericColumn {
    text-align: right;
    width:8em;
    background:blue;
}
body {
    padding-top: 70px;
    background-size: 100%;
    background-image:url("https://ru.inshaker.com/assets/common/body-bg-bf9928ee232a5a485e2d840111ee4bb2b7affb0509ecc283e6c81d4956ca3038.jpg")
}
.inputsm{
    width: 80%;
    margin-left: 10%;
    height: 100px;
    resize: none;
}
.buttons{
    width: 7%;
    font-size: 20px;
    height: auto;
}
.pan{
    background: white;
    margin-left: 25%;
    width: 50%;
    height: 10%;
}
*{
    font-family: Areal;
}
